# Django secrets
DJANGO_SECRET_KEY='your_django_secret_key'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS='localhost,127.0.0.1,0.0.0.0'
DJANGO_ADMIN_EMAIL='admin@mail.com'
DJANGO_ADMIN_PASSWORD='admin'

# Database secrets
DB_NAME='cinemax_db'
DB_USER='cinemax_user'
DB_PASSWORD='your_db_password'
DB_HOST='localhost'
DB_PORT='5432'

# AWS secrets
AWS_ACCESS_KEY_ID='your_aws_access_key_id'
AWS_SECRET_ACCESS_KEY='your_aws_secret_access_key'
AWS_STORAGE_BUCKET_NAME='your_aws_storage_bucket_name'
AWS_S3_REGION_NAME='your_aws_s3_region_name'

# Redis secrets
REDIS_HOST='redis'
REDIS_PORT='6379'
REDIS_PASSWORD='cinemax'
